EITAA_TOKENS=token1,token2
EITAA_USER_IDS=uid1,uid2
EITAA_PROXIES=proxy1,proxy2
GROQ_API_KEY=
SOCKS_PROXY=socks5://host:port
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_QUEUE=eitaa_products_queue         
REDIS_CHANNELS_QUEUE=eitaa_channels_queue   
MONGO_URI=mongodb://admin:pass@localhost:27017/
MONGO_DB_NAME=eitaa_db
MONGO_COLLECTION=products
